<?xml version='1.0' encoding='utf-8'?>
<widget id="freenet.cppsvr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Resource</name>
    <description>
        安卓文件资源服务器
    </description>
    <author email="novice@piaoyun.shop" href="http://cordova.io">
        飘云工作室
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="res/magic.mgc" target="app/src/main/assets/magic.mgc" />
        <resource-file src="res/values-zh-rCN/strings.xml" target="app/src/main/res/values-zh-rCN/strings.xml" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <!-- android 5.0 and can not use above to build -->
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="28" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-networkinterface" spec="^2.0.0" />
</widget>
