<?xml version="1.0" encoding="utf-8"?>
<plugin id="novice.cpp.httpserver" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		httpserver
	</name>
	<js-module name="CppSvr" src="www/CppSvr.js">
		<clobbers target="cpp" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CppSvr">
				<param name="android-package" value="freego.novice.CppSvr" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<!-- <uses-permission android:name="android.permission.CAMERA" /> -->
			<!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
			<!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
			<uses-permission android:name="android.permission.INTERNET" />
			<!-- <uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" /> -->

		</config-file>

		<source-file src="src/android/java/CppSvr.java" target-dir="app/src/main/java/freego/novice" />

		<source-file src="src/android/cpp/cpp_net.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/cpp_net.h" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/cpp_net.i" target-dir="app/src/main/cpp/" />

		<source-file src="src/android/cpp/common.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/common.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/http_svr.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/http_svr.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/udp.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/udp.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/ws_svr.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/ws_svr.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/util.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/util.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/CMakeLists.txt" target-dir="app/" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
