<?xml version="1.0" encoding="utf-8"?>
<plugin id="novice.cpp.httpserver" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		httpserver
	</name>
	<js-module name="CppSvr" src="www/CppSvr.js">
		<clobbers target="cpp" />
	</js-module>
	<platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" />
		</edit-config>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CppSvr">
				<param name="android-package" value="freego.novice.CppSvr" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<activity android:name="freego.novice.Scanner">
			</activity>         
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<!-- Interfering ads? -->
            <!-- <activity android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent" /> -->
			<!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-9524660171794411~5063915451"/> 
        </config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
		</config-file>
		<framework src="me.dm7.barcodescanner:zxing:1.9.8" />
		<framework src="com.google.zxing:core:3.3.0" />
		<source-file src="src/android/java/CppSvr.java" target-dir="app/src/main/java/freego/novice" />
		<source-file src="src/android/java/ForegroundService.java" target-dir="app/src/main/java/freego/novice" />
		<source-file src="src/android/java/Scanner.java" target-dir="src/freego/novice" />
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="freego.novice.ForegroundService" android:stopWithTask="true"/>
        </config-file>
		<source-file src="src/android/cpp/cpp_net.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/cpp_net.h" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/cpp_net.i" target-dir="app/src/main/cpp/" />

		<source-file src="src/android/cpp/common.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/common.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/http_svr.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/http_svr.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/udp.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/udp.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/ws_svr.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/ws_svr.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/util.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/util.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/peer.cpp" target-dir="app/src/main/cpp/" />
        <source-file src="src/android/cpp/peer.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/cpp/socks.h" target-dir="app/src/main/cpp/" />
		<source-file src="src/android/CMakeLists.txt" target-dir="app/" />
		<!-- <source-file src="src/android/gradle.properties" target-dir="app/" /> -->
		<!-- notification icon -->
		<resource-file src="src/android/res/icon.png" target="app/src/main/res/drawable/icon.png" />
		
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<!-- <framework src="com.google.android.gms:play-services-ads:18.1.0" /> -->
		<framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
	</platform>
</plugin>
