/* ::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
} */
.btn-error{
    background-color: rgb(248, 66, 66);
}
.btn-success{
    background-color: rgb(88, 247, 154);
}
.gray{
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}